
div {
    display:flex;
    justify-content: center;

}

li {
    list-style-type: none;
    width:600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
h4{
    text-align: center;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
}

li button{
    margin:40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    transition-property: background-image ;
    transition-duration: 0.5s;
   border-radius:8px;
   border:solid;
   border-width: thin;
   border-color: rgb(77,5,140);
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   background-color: rgb(77,5,140);

}

button:hover{
    border: none;
    color: white;


    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-image: linear-gradient(rgba(91,255,255,0),rgba(91,255,255,0.5));

}
